body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px
    auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0
    10px;
}

pre {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.6em; 
    background: #EEE; 
}

h1, h2, h3 {
    line-height: 1.2;
}

nav ul { 
    padding:0; 
}

nav ul li {
    display:inline;     
    padding-right: 10px; 
}

ul {
  position: relative;
}

ul.page-list {
    list-style: none; 
}

ul.page-list li {
    margin-top: 15px;
}



ul.page-list li::before {
  content: '➤';
  position: absolute;
  left: 0;
}

a:hover {
    color: red; 
}

a {
    text-decoration: none;
    color: green;
}

a[rel~=external] {
    font-size: 1.1em;
}

a[rel~=external]::after {
    content:"\1F310";
    font-size: 0.7em; 
}

